* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(32, 33, 39);
}

.container {
  border: solid rgb(0, 0, 0);
  background-color: rgba(69, 69, 68, 0.852);
  padding: 30px;
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}

.title {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

h1 {
  margin-left: 10px;
}

.todo-list {
  padding: 0;
  list-style-type: none;
  font-size: 24px;
}

.todo-element,
.alert {
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  background-color: rgba(255, 144, 144, 0.173);
  border-bottom: solid;
  cursor: pointer;
  display: flex;
}

#mark {
  color: rgb(254, 199, 2);
}

#mark:hover {
  background-color: rgba(255, 0, 0, 0.527);
}

#pen {
  color: cadetblue;
}
#pen:hover {
  background-color: rgba(0, 0, 0, 0.43);
}

.fa-check {
  margin-left: 5px;
  background-color: green;
}

.input-group {
  padding: 5px;
  display: flex;
}

.btn {
  padding: 5px;
  height: 30px;
  border: solid cadetblue;
  color: cadetblue;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: cadetblue;
  color: white;
}

#form-control {
  padding: 5px;
}

.done-element {
  text-decoration: line-through;
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
}

h3 {
  padding: 20px;
  text-align: center;
}

i {
  margin-right: 5px;
  border: solid 1px;
  padding: 5px;
}

.err-msg {
  margin-top: 10px;
  text-align: end;
}

.error-message {
  padding: 5px;
  border: solid 1px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 83, 83);
  font-size: 14px;
}
